In [1]:
import pandas as pd

myData = [['Amit',57],['Shourya',69],['Nimit',96],['Ram',87],['Neeraj',65]]

myFrame = pd.DataFrame(myData,columns=['Name','Marks'])

print("The created Frame is ")
print(myFrame)

The created Frame is
      Name  Marks
0     Amit     57
1  Shourya     69
2    Nimit     96
3      Ram     87
4   Neeraj     65

In [4]:
COLS = ['Outlook','Temperature','Humidity','Windy?','Score']
print("The dataframe read from CSV is ")
csvFrame = pd.read_csv('/home/ketan/Desktop/8th sem/Machinie_Learning/dataset.csv',names=COLS)
print(csvFrame)

print("Now, displaying single Column:-")
print(csvFrame['Score'])

print("Now, manipulating scores")
LEN = (csvFrame['Score'].count())
for i in range(LEN):
    csvFrame.loc[i,'Score']+=100

print('After manipulations, the scores are:-')
print(csvFrame['Score'])
csvFrame.to_csv('/home/ketan/Desktop/8th sem/Machinie_Learning/StoredCSV.csv')

The dataframe read from CSV is
     Outlook Temperature Humidity  Windy?  Score
0      sunny         hot     high   False     10
1      sunny         hot     high    True     12
2   overcast         hot     high   False     15
3      rainy        mild     high   False     16
4      rainy        cool   normal   False     20
5      rainy        cool   normal    True     14
6   overcast        cool   normal    True     20
7      sunny        mild     high   False     16
8      sunny        cool   normal   False     11
9      rainy        mild   normal   False     17
10     sunny        mild   normal    True     18
11  overcast        mild     high    True     13
12  overcast         hot   normal   False     14
13     rainy        mild     high    True     25
Now, displaying single Column:-
0     10
1     12
2     15
3     16
4     20
5     14
6     20
7     16
8     11
9     17
10    18
11    13
12    14
13    25
Name: Score, dtype: int64
Now, manipulating scores
After manipulations, the scores are:-
0     110
1     112
2     115
3     116
4     120
5     114
6     120
7     116
8     111
9     117
10    118
11    113
12    114
13    125
Name: Score, dtype: int64

In [9]:

one = pd.DataFrame({
         'Name': ['Ketan', 'Monil', 'Dhruv', 'Vivek','Vishal'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5'],
         'Marks_scored':[98,90,87,69,78]},
         index=[1,2,3,4,5])
two = pd.DataFrame({
         'Name': ['Vijay', 'Ram', 'Xander', 'Shyam', 'Sumit'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5'],
         'Marks_scored':[89,80,79,97,88]},
         index=[1,2,3,4,5])
print pd.concat([one,two])

   Marks_scored    Name subject_id
1            98   Ketan       sub1
2            90   Monil       sub2
3            87   Dhruv       sub4
4            69   Vivek       sub6
5            78  Vishal       sub5
1            89   Vijay       sub2
2            80     Ram       sub4
3            79  Xander       sub3
4            97   Shyam       sub6
5            88   Sumit       sub5

In [11]:
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Ketan', 'Monil', 'Dhruv', 'Vivek','Vishal'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Vijay', 'Ram', 'Xander', 'Shyam', 'Sumit'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print pd.merge(left,right,on='id')

   Name_x  id subject_id_x  Name_y subject_id_y
0   Ketan   1         sub1   Vijay         sub2
1   Monil   2         sub2     Ram         sub4
2   Dhruv   3         sub4  Xander         sub3
3   Vivek   4         sub6   Shyam         sub6
4  Vishal   5         sub5   Sumit         sub5

In [14]:
left = pd.DataFrame({
         'Name': ['Ketan', 'Monil', 'Dhruv', 'Vivek','Vishal'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {
         'Name': ['Vijay', 'Ram', 'Xander', 'Shyam', 'Sumit'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})

left=left.append(right)
print left

     Name subject_id
0   Ketan       sub1
1   Monil       sub2
2   Dhruv       sub4
3   Vivek       sub6
4  Vishal       sub5
0   Vijay       sub2
1     Ram       sub4
2  Xander       sub3
3   Shyam       sub6
4   Sumit       sub5